body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%!important;
    background-color: #dae0e6 !important;
}
/* Top Navbar Menu */
.navbar{
    padding:1rem;
}



/* css  pankaj*/

#New-Header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index:9999999;
}

.nav.nav-pills.nav-justified.notifications-nav a:nth-child(3),
.nav.nav-pills.nav-justified.notifications-nav a:nth-child(4),
.nav.nav-pills.nav-justified.notifications-nav a:last-child {
  display: none !important;
}





.intrest-on-signup {
    z-index: 999999999;
    position: absolute;
}



.dialog-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.dialog-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 550px;
}
.close-btn {
    cursor: pointer;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}
.selectedIntrest {
    background-color: red;
}

#mySelectBox .intrest{
  cursor: pointer !important;
  height: 100px;
  width: 200px;
  text-align: center;
}

#mySelectBox{
    width: 500px;
}


div#mySelectBoxPost .interest-post {
    cursor: pointer !important;
}
div#mySelectBox .interest {
    cursor: pointer !important;
}

























.dropDownFor-content{
    display: none !important;
}
.create-post-area-go-to-create {
    width: 100%;
}

.feed-box .post-box {
    cursor: pointer;
}
.top-post-and-layout .tabs-and-layout .option-categery{
    width:35% !important;
}


.dropdown-menu-header .dropdown-menu {
    padding: 15px;
}

.col-12.col-sm-12.col-lg-8.col-md-7.second.p-0 .top-post-and-layout {
    padding-top: 1.5rem;
}
.col-12.col-sm-12.col-lg-8.col-md-7.second.p-0 .tabs-and-layout{
    margin-top: 1.5rem;
}
.feed-top-container-inner .feed-top-dfrt-sec {
    padding: 7px 10px;
}

.top-post-and-layout .feed-top-container .home-user-avatar {
    margin: 0 !important;
    border-radius: 50% !important;
}

.top-post-and-layout .feed-top-container .create-post-input {
    width: 100%;
    margin: 0px 15px;
}

.top-post-and-layout .feed-top-container .create-post-input input {
    width: 100%;
}

.help-center-header-drp {
    margin-bottom: 10px;
}
.rotate-180 {
    transform: rotate(180deg);
  }
/* Css for layout dropdown menu */
.same-pd{
    padding: 8px 16px !important;
}

.post-box .upvote-downvote span.material-symbols-outlined {
    cursor: pointer !important;
}

.post-box .post-content.mt-3.pl-3.pr-3 {
    display: flex;
}
.post-box .upvote-downvote .down-vote-icon {
    transform: rotate(180deg);
}

.new-side-bar .card-lower-body {
    padding: 5px 15px;
}

.bg-white{
    background-color: white !important;
}

.bg-white h3{
    color: black !important;
}

.new-side-bar .new-side-bar-card {
    background-color: white !important;
}


.feed-box.mt-0.pt-4.posts-wrapper .post-box {
    background-color: white;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1000px !important;
}

.profile-container{
    margin-top: 45px;
}
.new-side-bar .side-bar-heading {
    background-color: #0079d3;
}



.new-side-bar .side-bar-heading h3 {
    font-size: 14px;
    color: white;
    font-weight: 700;
    padding: 10px;
}



.top-white-bar-content .today_i_learnd_logo img {
    width: 65px;
}

.top-bar-area .top-white-bar-content {
    display: flex;
}



.top-bar-area .top-white-bar-content .today_i_learnd_text h2 {
    font-size: 26px;
    font-weight: 600;
}

.top-bar-area .top-white-bar-content .today_i_learnd_text p {
    font-size: 14px;
}

.top-white-bar-btns a {
    font-size: 15px;
    color: black;
}



.white-blank-div.post-wiki-tabs {
    background-color: white;
    height: 100px;
}

.top-bar-area .top-white-bar-content .today_i_learnd_text_JoinBtn {
    display: flex;
}

/* header second dropdown accordian css start */

  .accordion-item {
    margin-left: 15px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .accordion-header {
   
   
    cursor: pointer;
  }

  .accordion-header::after {
    content: '\005E';  /* Text for down arrow */
    transform: rotate(180deg);
    float: right;
    transition: transform 0.3s ease; /* Add transition property for smooth rotation */
  }

  .accordion-header.active::after {
    content: 'v'; /* Text for down arrow */
    transform: rotate(180deg); /* Rotate the arrow 180 degrees when active */
  }

  .accordion-content {
    padding: 10px;
    display: none;
  }

/* header second dropdown accordian css end */


/* header dropdown css for both dropdown start */
.dropdown-menu-header {
    position: relative;
    display: inline-block;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

/* header dropdown css for both dropdown end */


.new-navbar .new-header .search-box-header {
    max-width: 1000px !important;
    width: 100%;
}
.menu-option{
     cursor: pointer !important;
}

.new-header .navbar-brand img {
    max-width: 100px !important;
    margin-left:30px !important;
}

.dropdown-menu-header {
    border: 1px solid black;
    padding: 5px 85px;
    cursor: pointer !important;
}

.new-header .popular-btn-header .ion-icon-inner svg {
    transform:rotate(135deg);
    border:1px solid;
    border-radius:50%;
}

 

.new-header {
    align-items: center;
}

.search-box-header {
   
}
.blank-first-blue-block {
    background-color: #33a8ff !important;
    height: 80px;
    width: 100%;
    cursor: pointer;
    margin-top: 48px;
}

.container .inner .wrapper .inner-content {
    display: flex;
    height: 1200px;
    width:100%;
}
.container .inner .wrapper .inner-content .left-side-section.border-left.border-right{
    width:75%;
}




.container .inner .wrapper .inner-content .right-side-section.border-right{
    width:25%;
}


/* wiki and post css start */




/* wiki and post css end */



/* end pankaj css */


.post-visited {
    color: red !important;
    /* Add any other styles you want for visited posts */
}



.navbar-brand img{
    max-width: 180px;
    max-height: 60px;
}

.error-container{
    min-width: 350px;
}

.button-search {
    color: #DDD;
    background: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    outline: none;
    border: none;
}

.home-user-avatar{
    width: 32px;
    height: 32px;
    margin-left:0.5rem;
}

/* Login Register pages  */
.login,
.image {
    min-height: 100vh
}

.bg-image {
    background-size: cover;
    background-position: center center
}

.brand-logo{
    width: 200px;
}

.rounded-lg{
    border-radius: 0.4rem!important;
}

.hidden{
    display: none!important;
}

/* Dropzone preview boxes + other general fixes */
.audio-preview-item {
    padding-right: 36px;
}

.video-preview-item .video-preview {
    border-radius: 20px;
    overflow: hidden;
    width: 240px;
    height: 240px;
    position: relative;
    display: block;
    z-index: 10;
    background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone-previews.dropzone {
    background: none!important;
}

.sticky {
    position: sticky;
    top: 1.5rem;
}

.sticky-sm{
    position: sticky;
    top:1rem;
}

.min-h-75{
    min-height: 75%;
}

.sticky-profile-widgets {
    position: sticky;
    top: 1rem;
}

.sticky-widgets {
    position: sticky!important;
    padding-top: .5rem!important;
}

.pointer-cursor{
    cursor:pointer;
}

.avatar-placeholder i{
    font-size: 2.8rem;
}

.avatar-placeholder i:hover{
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.side-menu .icon-wrapper{
    width: 2.6rem;
}
.side-menu .nav{
    flex-wrap:nowrap;
}

.side-menu .nav-item i{
    font-size: 2.0rem!important;
}

.side-menu .user-avatar, .sidebar .user-avatar{
    width: 50px;
    height: 50px;
}

/* Toasts */
.toast-container {
    position: fixed;
    z-index: 1055;
    margin: .5rem!important;
}

.top-right {
    top: 0;
    right: 0
}

.top-left {
    top: 0;
    left: 0
}

.top-center {
    transform: translateX(-50%);
    top: 0;
    left: 50%
}

.bottom-right {
    right: 0;
    bottom: 0
}

.bottom-left {
    left: 0;
    bottom: 0
}

.bottom-center {
    transform: translateX(-50%);
    bottom: 0;
    left: 50%
}

.toast-container>.toast {
    min-width: 200px;
    max-width: 300px;
}

.toast .toast-indicator{
    width:20px;
    height:20px;
}

/* Feed component */
.half-bg {
    background-color: rgba(0,0,0,.45);
}

.suggestion-box{
    background-color: #FFF!important;
}

.suggestion-box .avatar{
    width: 96px;
    height: 96px;
    border: 2px solid #fefefe;
}

.post-box .avatar{
    width:48px;
    height: 48px;
}

.post-details .dropdown .dropdown-toggle:after,.post-details .dropdown .dropdown-toggle:before{
    display: none;
}

.post-box .post-count-details{
    font-size: 15px;
}

.dropdown .dropdown-toggle:after, .dropdown .dropdown-toggle:before{
    display: none;
}

.post-box .post-comments .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none!important;
}

.suggestions-header i{
    cursor: pointer;
}

.dropdown:not(.dropdown-hover) .dropdown-menu {
    margin-top: 0px!important;
}

.pswp_video{
    position: relative!important;
}
.pswp_audio{
    position: relative!important;
    width:75%!important;
    height:100px!important;
}

.pswp--zoom-allowed .pswp__img {
    cursor: default !important
}


/* Menu */
.open-menu{
    text-decoration: none!important;
}

.dropleft .dropdown-menu {
    top: 0!important;
    right: 0%!important;
    left: auto!important;
    margin-top: 0!important;
    margin-right: 0!important;
}

.dropright .dropdown-menu {
    top: 0!important;
    right: auto!important;
    left: 0%!important;
    margin-top: 0!important;
    margin-left: 0!important;
}


/* Icons wrapper for backend SVGs includes */
.ion-icon-wrapper{
    display: inline-block;
    width: 1em;
    height: 1em;
    contain: strict;
    fill: currentcolor;
    box-sizing: content-box !important;
}

.input-group-prepend .ion-icon-wrapper{
    width: 20px!important;
    height: 20px!important;
}

.ion-icon-inner, .ion-icon-inner svg{
    display: block;
    height: 100%;
    width: 100%;
}

.icon-large{
    font-size: 32px;
}

.icon-xlarge{
    font-size: 50px;
}

.icon-medium{
    font-size: 24px;
}

.icon-small{
    font-size: 18px;
}

.icon-xsmall{
    font-size: 11px;
}

.social-media-icon{
    width: 1.4rem;
    height: 1.4rem
}

/* Global nav override */
.page-item, .page-link{
    margin-left:4px;
    width:34px;
    height:34px;
    border-radius: 50%!important;
    text-align: center;
}

.btn-rounded-icon{
    width: 45px!important;
    height: 45px!important;
    padding:0;
    transition: 0.3s;
    border: none!important;
    border-radius: 50%;
    font-size: 20px;
    margin:0;
}

#login-dialog .card-wrapper{
    height: 100%;
}

/* User cards */
.suggestion-header-bg {
    background-color: #50505047;
    background-position: center center!important;
    background-size: cover!important;
    height:140px!important;
}

.creator-body{
    margin-top:-50px;
}

.creator-body .avatar{
    width: 100px;
    height: 100px;
}

.suggestion-card-btn{
    width: 30px;
    height: 30px;
}

/*  */

.installer-bg{
    background-color: #f8f9fa;
}


/* */

.checkout-dialog .rounded-circle.user-avatar{
    width:50px;
    height:50px;
}

/*  */

footer .copyRightInfo .d-flex.flex-row.nav{
    margin-left:-1rem;
}

footer .copyRightInfo .nav-link:nth-child(1){
    padding-left:0px!important;
}

footer .text-lg{
    font-size: 1.1rem!important;
}
footer .ion-icon-wrapper{
    font-size: 1.25rem!important;
}

/* Profile / Posts widget */
.recent-media .card-body img{
    width:80px!important;
    height:80px!important;
}

.dropdown:not(.nav-item) .dropdown-menu:before {
    content: none!important;
}


.grayscale {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(95%); /* Chrome 19+ & Safari 6+ */
}

.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.contact-illustration{
    width: 450px;
}

.posts-loading-indicator .spinner-border{
    width:2rem;
    height: 2rem;
}

.page-content-wrapper p{
    margin:0px;
}

.page-content-wrapper h4{
    margin-bottom:1rem!important;
}

/* Emoji Picker overrides */

 .emoji-picker__emojis {
     overflow-x: hidden!important;
     padding-left: 0px!important;
 }

.emoji-picker__preview-emoji {
    font-size: 1rem!important;
}

.min-vh-65{
    min-height: 65vh;
}

.page-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-16{
    width: 16px;
    height: 16px;
}

.w-24{
    width:24px;
    height:24px;
}

.w-32{
    width:32px;
    height:32px;
}

.text-bold-600{
    font-weight: 600;
}

.blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 8px;
    height: 6px;
    width: 6px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.blob.red {
    background: rgba(234, 6, 5, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(234, 6, 5, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(234, 6, 5, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(234, 6, 5, 0);
    }
}


.text-orange{
    color:#FD7E14;
}


/* Streams CSS */
.stream-cover, .stream-cover-public{
    max-height: 40px;
    max-width: 150px;
    height:40px;
    width: 80px
}

.stream-chat-no-message{
    height: 300px;
}

.grecaptcha-badge{
    z-index: 100;
}

.captcha-field .text-danger{
    font-size: .875em;
}

.blurred{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

/*Vanilla emojis*/
.emoji-picker__content {
    overflow: hidden;
}

.emoji-picker__wrapper{
    margin-bottom: 10px!important;
}

/* Laravel-Bootstrap mobile navigation hack for larger pagination numbers */
@media screen and ( max-width: 400px ){
    li.page-item {

        display: none;
    }
    .page-item:first-child,
    .page-item:nth-child( 2 ),
    .page-item:nth-last-child( 2 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {
        display: block;
    }
}

.max-width-150{
    max-width: 150px;
}

.n-mt-2{
    margin-top:-2rem;
}
